@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Assistant&family=Inter:wght@300&family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Assistant&family=Inter:wght@300&family=Nunito:ital,wght@1,200&family=Open+Sans:wght@300&display=swap");

 

.H1color{
    color: red;
}


.fontLarge {
  font-size: 25px;
  font-weight: 900;
  border: 2px solid red;
}

.boldAndLarge {
  font-size: 1.25rem;
  font-weight: bolder;
}

.flexContainer {
  @media(768px>=width>425px){
    margin-left: 100px;
    width: 1000px;
    gap:20px
  }
  @media(426px>=width>320px){
    margin-left: 100px;
    width: 1000px;
    gap:40px
  }
  @media(width<=320px){
    margin-left: -500px;
    width: 900px;
  }
  @media(768px<width<=1024px){
    width: 1100px;
    gap:20px;
    margin-left: -150px;
  }
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid red; */
  width: 80vw;
  justify-content: center;
  /* justify-content: space-around; Adjust as needed */
}

/* Box styles */
.imageColumn1{
  @media(width<=320px){
    margin-right:100px;
  }
}
.flexItem {
  @media(width>1600px){
    width:400px;
  }
  @media(768px>=width>640px){
    width: 50vw;
  }
  @media(640px>=width>480px){
    width: 65vw;
    /* height: 55vh; */
  }
  @media(768px<width<=1024px){
    
    width: 40vw;
    /* height: ; */
  }
 
  @media(425px<width<=480px){
    
    width: 70vw;
    /* height: 55vh; */
  }
  @media(426px>=width>375px){
    width: 74vw;
    /* height: 55vh; */
  }
  @media(376px>=width>320px){
    width: 84vw;
    /* height: 55vh; */
  }
  @media(width<=320px){
    width: 380px;
    /* height: 55vh; */
    margin-bottom: 35px;
  }
  width: 30vw; /* Adjust as needed */
  margin: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  text-align: center;
  padding: 20px;
  height: 380px;
  box-shadow: 10px 10px 10px #ccc;
}

/* Fotter */
/* styles/Footer.module.css */

.footer {
  @media(width>1600px){
    width:1000px;
    margin:0px auto;
    height:600px;
  }
  @media(1200px<width<=1500px){
    width:97vw;
    /* margin-left: 3px; */
    padding: 1px;
  }
  @media(1000px<width<=1200px){
    width:97vw;
    /* margin-left: 3px; */
    padding: 1px;
  }
  @media(768px>=width>425px){
    width:1050px;
    margin-left: 3px;
  }
  @media(768px<width<=1000px){
    width:1050px;
    margin-left: 3px;
  }
  @media(426px>=width>320px){
    width:1020px;
    margin-left: 5px;
  }
  @media(width<=320px){
    width:850px;
    margin-left: 3px;
  }
  height: 50vh;
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  padding: 60px 200px;
  background-color: #1e1e1e;
  color: #ffffff;
  margin-top: 210px;
}

.division {
  flex: 1;
  color: #d1d1d1;
  font-family: Poppins, "sans-serif";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.division1 {
  flex: 1;
  margin-top: 30px;
  color: #d1d1d1;
  font-family: Poppins, "sans-serif";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.division h4 {
  color: #fff;

  font-family: Poppins, "sans-serif";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.division li {
  list-style: none;
  margin-bottom: 15px;
  color: #ccc;
}
.division li a {
  text-decoration: none;
  color: #ccc;
}

.logo {
  max-width: 100px; /* Adjust the size as needed */
}

.socialIcons {
  fill: white;
  display: flex;
  margin-top: 10px;
}

.socialIcon {
  margin-right: 10px;
}

/* Add more styles as needed */

.sapCloudLegacyButton {
  background-color: "black";
  color: "red";
}

/* Custom Button Code */
.customButton {
  /* Default styles */
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.customButton:hover {
  /* Hover effects default styles */
  background-color: #2980b9;
}


/* Common Styles */
.mainMarginAllSides{
  /* margin: 0 150px; */
   
  @media (1024px >= width > 768px) {
    margin: 0 100px;
  }
 

  .smalltext{
    color: var(--Gray-500, #6D7280);
  text-align: center;
  font-family: Poppins, "sans-serif";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 41%;
  text-align: center;
  }



  /* black box */
  .steptext{
    color:#FFF;
    width:260px;
    text-align:center;
    font-family: Poppins, "sans-serif";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left:-91px;
  }
  .innerText{
    width: 547px;
    color:#FFF;
    text-align:center;
    font-family: Poppins, "sans-serif";
    font-size:48px;
    font-style:normal;
    font-weight:600;
    line-height:noraml;
  }
  /* black box end*/

  
  
  
}

.navbarContainer{
  @media(1000px<width<=1200px){
    width: 100vw;
    margin: 0;
  }
  @media(768px>=width>425px){
    margin-left: 260px;
  }
  @media(768px<width<=1000px){
    margin-left: 300px;
  }
  @media(426px>=width>320px){
    margin-left: 260px;
  }
  @media(width<=320px){
    margin-left: 200px;
  } 
  width:1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:auto;
  font-family: Poppins, "sans-serif";
}

 

  
