@import url("https://fonts#googleapis#com/css2?family=Noto+Sans&family=Poppins&display=swap");
#topsection{
    margin:20px 50px;
    font-family: "Poppins";
    display: flex;
    flex-direction: column;
    gap:40px;
    
}
#meetyou{
    font-family: "Poppins";
    display: flex;
    flex-direction: column;
    gap:50px;
    text-align: center;
    padding: 100px 150px;
    background-color: #f2f2f2;
}
#secondsection{
    font-family: "Poppins";
    text-align: center;
    margin:100px 0px;
}
#threeimage{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* gap:10px; */

}
#threeimagesection{
    display: flex;
    flex-direction: column;
    gap:30px;
    width: 350px;
    justify-content: center;
    align-items: center;

}
#threeButtonOuter{
    font-family: "Poppins";
    display: flex;
    flex-direction: column;
    gap:30px;
    justify-content: center;
    align-items: center;
}
#outerButton{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
#threeButton{
    display: flex;
    gap:30px;
}
#but{
    
        background-color:#345F78;
        color:white;
        border-radius: 5px;
        font-weight: 700;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding:0px 15px;
        cursor: pointer;
}

#buttonTypesOuter{
    display: flex;
    gap:50px;
}
#buttonTypes{
    display: flex;
    flex-direction: column;
    gap:20px;
}
#allservice{
    cursor: pointer;
    border-color: #939ba0;
    color: #939ba0;
    background-color: #ffffff;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 400;
    padding: 5px 20px;
    text-transform: none;
    border:2px solid #939ba0;
}
#secondsectiongrey{
    font-family: "Poppins";
    text-align: center;
    margin:100px 0px;
    background-color: #f2f2f2;
    padding: 50px 0px;
}
#threeimage{
    display: flex;
    justify-content: space-around;
    align-items: center;
    

}
#threeimagesection{
    display: flex;
    flex-direction: column;
    gap:30px;
    width: 350px;
    justify-content: center;
    align-items: center;

}
#greenNumber{
    height:174px;
    width:174px;
 border-radius:100px;
 background-color:#4ec9b1;
 color: white;
 display: flex;
 align-items: center;
 justify-content: center;
 font-size: 40px;
 }