@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins&display=swap");

.font{
  font-family: "Poppins", sans-serif;
}
.topsection{
  @media(1200px<width<=1501px){
    width:97vw;
    margin-left: 10vw;
  }
  @media(1000px<width<=1200px){
    width:90vw;
    margin-left: 30px;
    gap:30px;
    /* margin-left: 100px; */
  }
  @media(width<=1000px){
    width:1400px;
  }
  @media(width<=320px){
    width:1300px;
  }
  display: flex;
  margin: 50px 200px;
  gap:70px;
  align-items: center;
}
.heading{
  font-size: 60px;
  font-weight: 800;
  width: 500px;
}
.topsection{
  width:500px;
}

.outerhowitwork2{
  @media(1200px<width<=1391px){
    width:97vw;
  }
  @media(1000px<width<=1200px){
    width:90vw;
    /* margin-left: 100px; */
  }
  @media(width<=1000px){
    width:1400px;
  }
  @media(width<=320px){
    width:1300px;
  }
  gap:60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.howitwork2{
  @media(1000px<width<1500px){
    gap:10px;
  }
  display: flex;
  gap:20px;
  justify-content: center;
  align-items: center;
  font-family: Poppins, sans-serif;
}

.outerhowitwork{
  @media(1200px<width<=1391px){
    width:97vw;
  }
  @media(1000px<width<=1200px){
    width:90vw;
    /* margin-left: 100px; */
  }
  @media(width<=1000px){
    width:1400px;
  }
  @media(width<=320px){
    width:1300px;
  }
  gap:60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin:70px 0px;
}
.firstbox{
  border: 2px solid #3b3b3a;
  width:200px;
  height:250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:20px;
  padding: 40px;
  border-radius: 10px;
}
.secondbox{
  border: 2px solid #3b3b3a;
  width:200px;
  height:250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:20px;
  padding: 40px;
  border-radius: 10px;
}
.thirdbox{
  border: 2px solid #3b3b3a;
  width:200px;
  height:250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:20px;
  padding: 40px;
  border-radius: 10px;
}